* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    position: relative;
    color: rgb(189, 190, 190);
    background-color: #f0f0f0;
    background: linear-gradient(100deg, #42173c, #2a2c47, #431943, #3a3757, #431847);
    background-size: 300% 200%;
    animation: moveGradinent 10s linear infinite;
}

.containerG {
    min-width: 97vw;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexH{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}


@keyframes moveGradinent {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 75% 75%;
    }
}

h1 {
    color: #be3333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h3{
    font-size: 19px;
}

button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 1.2rem;
    background-color: #f7f7f7;
    color: #4b0c0c;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 15px;
}

.central-square {
    background-color: #2b0c4f;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 33%;
    margin: auto;
}

.btn {
    padding: 2px 15px;
    color: #ffffff;
    background-color: #69279e;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 100%;

}
.wtzp {
    margin: 15px;
    background-color: #2b0c4f;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 0;
    text-align: center;
    padding: 15px;
    border-radius: 16px;
}

img {
    text-decoration: flex;
    border-radius: 50%;
    width: 15%;
    height: auto;
    transition: background-color 0.3s ease;
    display: block;

}

@media only screen and (max-width: 800px) {
    
    h1 {
        font-size: 3rem; /* Tamanho ajustado para telas menores */
    }
    button {
        font-size: 1.5rem; /* Tamanho ajustado para telas menores */
        padding: 10px 20px; /* Ajuste do padding para ficar proporcional ao texto */
    }
    h3 {
        font-size: 2rem; /* Tamanho ajustado para telas menores */
    }

}
